$color-grayish-blue: hsl(237, 18%, 59%);
$color-soft-red: hsl(345, 95%, 68%);

$color-dark-desaturated-blue: hsl(236, 21%, 26%);
$color-very-dark-blue: hsl(235, 16%, 14%);

$color-very-dark-mostly-black-blue: hsl(234, 17%, 12%);
$color-white: hsl(0, 0%, 100%);

$color-my-color: rgb(48, 36, 58);

//FONT
$font-primary: "Red Hat Text", sans-serif;
$default-font-size: 1.6rem;

//BREAK POINTS
$bp-large: 81.25em; //1300px
$bp-medium: 50em; //900 px
// $bp-small: 47.5em; //760px
$bp-mobile: 47.5em; //760px
