.container {
  color: $color-white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  min-width: 80rem;
  display: flex;
  justify-content: space-around;
  @media only screen and (max-width: $bp-medium) {
    min-width: 50rem;
  }
  // gap: 1rem;
}

.segment {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
